/* 公共样式 */
.fl{
    float: left;
}
.fr{
    float: right;
}
.style_red{
    color: red;
}
/* 版图 */
.w{
    width: 1200px;
    margin:0 auto;
}
/*1. 快捷导航栏 */
.shortcut{
    height: 31px;
    line-height: 31px;
    background-color:#f1f1f1;
}
.shortcut ul li {
    float: left;
}
.fr ul li:nth-of-type(2n)
{
    width: 0.5px;
    height: 15px;
    margin: 9px 15px 0px;
    background-color: #666666;
}
/* 2.header部分 */
.header{
    position: relative;
    clear: both;
    height: 105px;
    /* background-color: pink; */
}
.logo{
    width: 171px;
    height: 55px;
    font-size: 0px;
    position: absolute;
    top: 25px;
}
.logo a{
    display: block;
    width: 171px;
    height: 55px;
    background: url(../img/logo.png) no-repeat;
}
.search{
   
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
    position: absolute;
    left: 347px;
    top: 27px;
    padding-left: 10px;
}
.search input{
    float: left;
    width: 454px;
    height: 32px;
}
.search button{
   width: 70px;
   height: 32px;
   background-color: #b1191a;
   color: white;
   font-size: 16px;
   /* 取消圆角 */
   border-radius: 0;
}
.hotwords{
    width: 538px;
    height: 21px;
    position: absolute;
    left: 346px;
    top: 66px;
}
.hotwords ul li{
    float: left;
padding-left: 20px;
}
.shopcar{
    position: absolute;
    left: 996px;
    top: 22px;
    width: 140px;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
}
.fa-shopping-cart
{
    color:#b1191a;
}
/*count 不给宽度，因为数量可能会撑开盒子，左下角是圆角，其他地方不是圆角 */
.count{
    position: absolute;
    top: -10px;
   left:100px;
    line-height: 14px;
    height: 14px;
    background-color: #e60012;
    padding: 0px 5px;
    border-radius: 7px 7px 7px 0px;
    color: white;
}
/* 3.nav部分 */
.nav{
    width:auto;
    height: 46px;
    /* background-color: aqua; */
    border-bottom: 3px solid #c81623;
}
.nav .w{
    
    height: 46px;
    /* background-color: aqua; */
}
.dropdown{
    float: left;
    width: 210px;
    height: 46px;
    border: none;
    background-color:#b1191a;
}
.dropdown .dt{
    /* position: relative; */
   width: 100%;
   height: 100%;
   line-height: 46px;
   text-align: center;
   font-size: 16px;
   color: #fff;
   
}
.dropdown .dd{
    /* display: none; */
    width: 210px;
    height: 465px;
    background-color: #c81623;
}
.dropdown .dd ul li{
    position: relative;
    width: 210px;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    color: #fff;
}
.dropdown .dd ul li a{
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
}
.dropdown .dd ul li:hover{
    background-color: #f7f7f7;
}
.dropdown .dd ul li:hover a{
    color: #c81623;
}
.dropdown .dd ul li span{
    position: absolute;
    top: 10px;
    right: 10px;
}
 .fa-chevron-right{
    color:#f7f7f7 ;
}

.navitems ul li{
    float: left;
}
.navitems ul li a{
    display: block;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    padding: 0px 25px;
}
/* footer模块 */
/* 底部服务模块mod_service */
.footer{
    height: 420px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.mod_service{
    height: 80px;
    /* background-color: aqua; */
    border-bottom: 0.2px solid rgb(228, 225, 225);
    /* padding-left: 35px; */
}
.mod_service ul li{
    float: left;
    width: 240px;
    height: 50px;
    /* background-color: aqua; */
    padding-left: 35px;
}
.mod_service ul li h5{
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
   
    
}
.service_img1{
      /* background-color: bisque; */
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -252px -3px;
}
.service_img2{
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -255px -53px;
}
.service_img3{
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -257px -106px;
}
.service_img4{
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -258px -157px;
}
.service_img5{
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -256px -209px;
}
.service_txt h2{
    font-size: 14px;
    color: #333333;
}
.service_txt p{
    font-size: 12px;
    color: #666666;
}
/* 底部帮助模块  mod_help */
.mod_help{
    position: relative;
    height: 167px;
    border-bottom: 0.2px solid rgb(228, 225, 225);
    margin-top: 25px;
}
.help_left{
    float: left;
    height: 167px; 
}
.help_left ul{
    float: left;
    margin: 0px 60px;
}
.mod_help h2{
    font-size: 14px;
    color: #333333;
    font-family: 微软雅黑;
}
.help_left ul li{
    font-size: 12px;
    color: #333333;
    font-family: 宋体;
    padding-top:4px;
}
.help_right{
    position: absolute;
    right:65px;
    /* padding-top: 5px; */
}
.help_right img{
    padding: 2px 0px;
}
/* 底部版权模块 mod_copyright */
.mod_copyright{
    padding-top: 20px;
    padding-left: 120px;
}
.mod_copyright ul li{
    float: left;
}
.mod_copyright ul li a{
    font-size: 12px;
    font-family: 宋体;
}
.mod_copyright ul li:nth-of-type(2n){
    width: 0.5px;
    height: 15px;
    background-color:#666666 ;
    margin: 0px 13px;
}
.copyright_txt{
   margin-top: 15px; 
}
.copyright_txt p{
    font: 12px 宋体 #666666;
    text-align: center;
}